<!DOCTYPE html style = "padding: 0px; margin: 0px;">
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EvalPal</title>
    <!-- MDB icon -->
    <link rel="icon" href="/img/evalpalmain.ico" type="image/x-icon">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    </head>
    <body style = "padding: 0px; margin: 0px;">
        <header style = "padding: 0px; margin: 0px; background-color: rgba(0, 48, 78, 1)7">
            <nav id = "navigation" class="navbar sticky-top navbar-dark navbar-expand-sm" style = "background-color: rgba(0, 48, 78, 1)">
              <!--<img src="https://scalar.usc.edu/works/new-and-improved/media/cwru_stacked_logo_blue_no_tag.jpg" height="30" class="d-inline-block align-top"
              alt="Case Western logo">-->
              <a class="navbar-brand header-image w-5 " href="../"><img src="img/header.png" class="w-50" alt=""></a>
              <form class="form-inline my-2 my-lg-0 ml-auto" action = "../Options" method = "POST">
          
                <div class="md-form my-0">
                  <div><input class="form-control wow" type="text" name = "searched" placeholder="Search" aria-label="Search"></div>
                </div>
                <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
            </form>
             
            </nav>
          </header>
    <!-- Start your project here-->
        <div id = "section1">
            <div class = "mask rgba-indigo-strong" style = "height: 100%">
            <div style = "background-color: transparent; height: 10%; width: 100%"></div>
            <h2 class = "wow fadeInDown" style = "display: flex; justify-content: center; text-align: center; align-items: center; font-size: 50px; color: white">Results for "<%=data%>"</h2>
            <div style = "height: 4%"></div>
            <div style = "width: 60%; margin-left:20%; background-color: rgb(1, 35, 56); opacity: .85; z-index: 2; position: absolute">
                <div id = "results" style = "width: 80%; margin-left:10%">
                    <div class = "row" style = "width: 100%; padding-top: 2%; border-bottom-style: solid; border-width: 2px; border-color: rgba(42, 45, 202, 0.753)">
                        <div class = "col" style = "background-color: transparent; display: flex; justify-content: center; align-items: center; color: white; font-size:25px; font-weight: bolder;">Professor</div>
                        <div class = "col" style = "background-color: transparent; display: flex; justify-content: center; align-items: center; color: white; font-size:25px; font-weight: bolder">Class</div>
                    </div>
                </div>
                <div style = "height: 4%; width: 100%; padding: 2%"></div>
                <h2 style = "display: flex; justify-content: center; align-items: center; font-size: 30px; color: white"></h2>
                <div style = "height: 7%; width: 100%; padding: 2%"></div>
                <div>
                    <form autocomplete="off" id = "try-again-form" action = "../Options"  method = "POST">
                        <div class = "row" style = "width: 100%; margin: 0px; padding: 0px">
                            <div class = "col-lg-2"></div>
                            <div class = "col-lg-8 row no-gutters justify-content-center">
                            <div class = "autocomplete-div">
                            <div><input style = "overflow: hidden; position: relative;" value = "" size = "40" id = "user-search-input" class="form-control wow" type="text" name = "searched" placeholder="Search a professor" aria-label="Search"></div>
                            <div><button type = "button" style = "visibility: hidden" class="form-control button-fixup" id = "first-suggestion"></button></div>
                            <div><button type = "button" style = "visibility: hidden" class="form-control button-fixup" id = "second-suggestion"></button></div>
                            <div><button type = "button" style = "visibility: hidden" class="form-control button-fixup" id = "third-suggestion"></button></div>
                            <div style = "height: 1%; width: 100%; padding: 2%"></div>
                            </div>
                            <div><button class="btn aqua-gradient btn-rounded btn-md my-0" type="submit">Search</button></div>
                            </div>
                            <div class = "col-lg-2"></div>
                        </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    

    <!-- jQuery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="/js/app.js" data = "<%= data %>" ></script>
    <!-- Your custom scripts (optional) -->
    


</body>
</html>