<!DOCTYPE html style = "padding: 0px; margin: 0px;">
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EvalPal</title>
    <!-- MDB icon -->
    <link rel="icon" href="/img/evalpalmain.ico" type="image/x-icon">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/css/mdb.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
    </head>
    <body style = "padding: 0px; margin: 0px;">
        <header style = "padding: 0px; margin: 0px; background-color: rgba(0, 48, 78, 1)7">
            <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style = "background-color: rgba(0, 48, 78, 1)">
            
                <a class="navbar-brand header-image w-5 " href="../"><img src="/img/header.png" class="w-50" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                
                    <span class="navbar-toggler-icon"></span>
                </button>
                <form class="form-inline my-2 my-lg-0 ml-auto" action = "../Options" method = "POST">
          
                    <div class="md-form my-0">
                      <div><input class="form-control wow" type="text" name = "searched" placeholder="Search" aria-label="Search"></div>
                    </div>
                    <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
                </form>
            </nav>
        </header>
    <!-- Start your project here-->
        <div id = "section1">

            <div class = "mask rgba-indigo-strong" style = "height: 100%">
            <div style = "background-color: transparent; height: 10%; width: 100%"></div>
            <h2 class = "wow fadeInDown teachingLine" style = "display: flex; justify-content: center; align-items: center; font-size: 30px; color: white">Results</h2>
           <div class="row align-items">
                <div class="col-6">
            <button class="btn btn-md" style="display:none"><a class="professor" display="none">Prof</a></button>
        </div>
       
            </div>
            <div style = "height: 4%"></div>
            <div style = "width: 90%; margin-left:5%; background-color: rgb(1, 35, 56); opacity: .85; z-index: 2; position: absolute">
                <div class="row">
                    
                    <div class="col-2">
                                <div id="container-rating-options">
                                    
                                    <h5>Select ratings to view</h5>
                                    <div class="custom-control custom-checkbox">
                                        
                                      
                                      <input type="checkbox" class="custom-control-input" value="courseRating" id="course_rating" checked>
                                        <label class="custom-control-label" for="course_rating"><div class = "circle-with-text-rating" style = "align-items: center; "> 
                                            Overall Rating of Course
                               </div> </label>
                               </div>
                               <div class="custom-control custom-checkbox ">
                               <input type="checkbox" class="custom-control-input" value="instructorRating" id="overall_rating" checked>
                                        <label class="custom-control-label" for="overall_rating"><div class = "circle-with-text-rating" style = "align-items: center; "> 
                                            Overall Rating of the Instructor
                               </div> </label></div>
                               <div class="custom-control custom-checkbox fairlyGraded">
                               <input type="checkbox" class="custom-control-input" value="fairGrading" id="grading_fairly" checked>
                                        <label class="custom-control-label" for="grading_fairly"><div class = "circle-with-text-rating" style = "align-items: center; "> 
                                            Grading is done fairly
                               </div> </label></div>
                               <div class="custom-control custom-checkbox">
                               <input type="checkbox" class="custom-control-input" value="assignedWork" id="assigned_work">
                                        <label class="custom-control-label" for="assigned_work"><div class = "circle-with-text-rating" style = "font-size: 0.6rem; padding-top:1.2rem;"> 
                                            The assigned 
                                            work helped me learn the course content
                               </div> </label></div>
                               <div class="custom-control custom-checkbox">
                               <input type="checkbox" class="custom-control-input" value="studentsInformedOfProgress" id="studentsInformed">
                                        <label class="custom-control-label" for="studentsInformed"><div class = "circle-with-text-rating" style = "font-size: 0.6rem; padding-top:1.2rem;"> 
                                            Students are informed of their progress in a timely manner
                               </div> </label>
                               
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" value="writesClearly" id="speaksAndWrites">
                                                 <label class="custom-control-label" for="speaksAndWrites"><div class = "circle-with-text-rating" style = "font-size: 0.6rem; padding-top:1.2rem;"> 
                                                     The instructor speaks and writes clearly
                                        </div> </label>
                                        
                                             </div>
                                             <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" value="teachingAssistants" id="teaching_assistants">
                                                         <label class="custom-control-label" for="teaching_assistants"><div class = "circle-with-text-rating"> 
                                                             Rating of the teaching assistants
                                                </div> </label>
                                                
                                                     </div>
                                          
                                </div>
                    </div>
                    <div class="col-10">
                <div id = "results" style = "width: 100%; margin-left:5%; margin-right:5%;">
                    
                    <div class = "row" style = "width: 100%; padding-top: 2%; border-color: rgba(42, 45, 202, 0.753)">
                        
                        <button class="button-rating col-1-sm" type="submit" value="Your overall rating of the instructor" style="background-color: transparent; border: none;"> 
                            <div class = "circle-with-text" id="instructorRating" value="Your overall rating of the instructor" style = "align-items: center; "> 
                                
                            
                    </div> 
            
                            </button>
                            <button type="submit" class="button-rating" value="Your overall rating of the course" style="background-color: transparent; border: none;"> 
                                <div class = "circle-with-text" id="courseRating" value="Your overall rating of the course" style = "align-items: center; "> 
                                     View other ratings
                        </div> 
                                </button>
                            <a id="view_more"><button type="submit" class="circle-2-button" style="background-color: transparent; border: none;"> 
                                <div class = "circle-with-text circle-2" style = "align-items: center; "> 
                                   View more
                        </div> 
                                </button></a>
                               
                                    <button type="submit" class="compareProf" style="background-color: transparent; border: none;"> 
                                        <div class = "circle-with-text compareWithProf" style = "align-items: center; "> 
                                           Compare with similar professors
                                </div> 
                                        </button>
                                    <button type="submit" class="circle-5-button button-rating" value="Grading is done fairly" style="background-color: transparent; border: none;"> 
                                        <div class = "circle-with-text circle-5" id="fairGrading" value="Grading is done fairly" style = "align-items: center;"> 
                                             View other ratings
                                </div> 
                                        </button>
                                     <button type="submit" class="button-rating" style="background-color: transparent; border: none;" value="The assigned work helped me learn the course content"> 
                                    <div class = "circle-with-text" id="assignedWork" value="The assigned work helped me learn the course content" style = "align-items: center; "> 
                                         View other ratings
                            </div> 
                                    </button>
                                    <button type="submit" class="button-rating" style="background-color: transparent; border: none;" value="Students are informed of their progress in a timely manner"> 
                                        <div class = "circle-with-text" id="studentsInformedOfProgress" value="Students are informed of their progress in a timely manner" style = "align-items: center; "> 
                                             View other ratings
                                </div> 
                                        </button>
                                        <button type="submit" class="button-rating" style="background-color: transparent; border: none;" value="The instructor speaks and writes clearly"> 
                                            <div class = "circle-with-text" id="writesClearly" value="The instructor speaks and writes clearly" style = "align-items: center; "> 
                                                 View other ratings
                                    </div> 
                                            </button>
                                            <button type="submit" class="button-rating" style="background-color: transparent; border: none;" name="Overall rating of the teaching assistants" value="Your overall rating of the teaching assistant s if applicable"> 
                                                <div class = "circle-with-text" id="teachingAssistants" name="Overall rating of the teaching assistants" value="Your overall rating of the teaching assistant s if applicable" style = "align-items: center; "> 
                                                     View other ratings
                                        </div> 
                                                </button>
                                       
                  
                
                
                    </div>
                </div>
                <h4 class="title"></h4>
                <div class="tooltip-comp"></div>
                <svg style="align-items: center" id="mainGraph" height="500" width="900" display="none"></svg>

                <h2 style = "display: flex; justify-content: center; align-items: center; font-size: 30px; color: white"></h2>
                <div style = "height: 7%; width: 100%; padding: 2%"></div>
                <div>
                    <form autocomplete="off" id = "try-again-form" action = "../Options"  method = "POST">
                        <div class = "row" style = "width: 100%; margin: 0px; padding: 0px">
                            <div class = "col-lg-2"></div>
                            <div class = "col-lg-8 row no-gutters justify-content-center">
                            <div class = "autocomplete-div">
                            <div><input style = "overflow: hidden; position: relative;" value = "" size = "40" id = "user-search-input" class="form-control wow" type="text" name = "searched" placeholder="Search a class or professor" aria-label="Search"></div>
                            <div><button type = "button" style = "visibility: hidden" class="form-control button-fixup" id = "first-suggestion"></button></div>
                            <div><button type = "button" style = "visibility: hidden" class="form-control button-fixup" id = "second-suggestion"></button></div>
                            <div><button type = "button" style = "visibility: hidden" class="form-control button-fixup" id = "third-suggestion"></button></div>
                            <div style = "height: 1%; width: 100%; padding: 2%"></div>
                            </div>
                            <div><button class="btn aqua-gradient btn-rounded btn-md my-0" type="submit">Search</button></div>
                            </div>
                            <div class = "col-lg-2"></div>
                        </div>
                            
                        </div>
                    </form>
                </div>
            </div>
            <svg></svg>
            </div></div>
        </div>
       
    <!--<div id = "section2" style = "overflow-y: auto; ">-->
    <!-- End your project here-->

    <!-- jQuery -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <script type="text/javascript" src="/js/app.js" ></script>
    <script type="text/javascript" src="/js/viz.js" data = "<%= data %>" ></script>
    


    <!-- Your custom scripts (optional) -->
    

    
</body>
</html>